//tipography
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
$font-family: 'Poppins', sans-serif;
//colors
$purple-color: hsl(259, 100%, 65%);
$light-red-color: hsl(0, 100%, 67%);
$white-color: hsl(0, 0%, 100%);
$off-white-color: hsl(0, 0%, 94%);
$light-green-color: hsl(0, 0%, 86%);
$smokey-grey-color: hsl(0, 1%, 44%);
$off-black-color: hsl(0, 0%, 8%);
//sizes
$full-width: 100vh;
$full-height: 100vh;